{% extends "base.html" %}

{% block content %}

<div id="feature" class="hero-unit">
<div class="row-fluid">
<div class="span5">
<img src="/theme/images/climbing_leaf_square.jpg" class="img-rounded" alt="" />
</div>
<div class="span7">
<h1>Someone's stolen the postie's shell!</h1>
<p>Join Cargo in the adventure, exploring the world from a snail's point of view! Solve puzzles and collect items to work your way to the top of the tree, where the nefarious Bird awaits.</p>
</div>
</div>
</div>

<div class="row-fluid">

<div class="span6">
<p class="lead">Cargo lives on a quiet island, working as a postsnail. She is excellent at her job. She has been known to sleep in a little, but no one really expects fast deliveries. Life is good - until one day, when things start disappearing from the island. Now, she must take part in a desperate race to get back the things that were stolen.</p>

<p><em>S. Cargo</em> is an epic 3D adventure game for GNU/Linux and Windows. A Mac version is coming soon!</p>


<h2>Download</h2>

<p><strong>Note:</strong> This is a beta release for testing purposes. Please consider this when choosing a price.</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="alex@phatcore.com">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="Cargo videogame">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="button_subtype" value="services">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="return" value="http://cargo.lille.sturm.com.au/pages/thanks.html">
<label for="amount">Name your price (USD):</label>
<div class="input-append">
<input class="span3" type="text" id="amount" name="amount" value="10">
<button class="btn btn-primary" type="submit">Buy with PayPal</button>
</div>
</form>

<p>We understand that not everyone is able to pay or has a credit card or PayPal account. It's ok to <a href="/pages/thanks.html">pay zero</a> for the game.</p>


<h2>All about S. Cargo</h2>
<p>This game was designed for people aged 8-13, but adults are sure to enjoy it too. There is no violence in this game, but you might be stung by a bee.</p>

<p>S. Cargo is an independent free software 3D adventure game. If you are curious, you can read about <a href="/pages/making-of-cargo.html">how S. Cargo was made</a>.</p>

<p><em>Free software</em> doesn't mean "free of charge". We ask you to buy a copy of the game. Free software actually means that this game respects your freedom. It does this by endorsing your rights to use the game in any way you like, study the source code, modify the game and share it with your friends. These are fundamental values of the <a href="http://www.gnu.org/philosophy/free-sw.html#content">free software</a> movement; a movement for the freedom of people who use software. Unlike many games, S. Cargo is also free of <a href="http://www.defectivebydesign.org/what_is_drm_digital_restrictions_management" title="Information about digital rights/restrictions management">DRM</a> and other technical restrictions.</p>


<h2>Contact us</h2>
<p>If you have any feedback, please <a href="mailto:alex@phatcore.com?Subject=Feedback%20on%20S.%20Cargo&body=(the%20following%20fields%20are%20a%20guide%20only;%20feel%20free%20to%20re-format%20this%20message)%0AS.%20Cargo%20version:%20%0AOperating%20system:%20%0AVideo%20card:%20%0ADetails/feedback:%20">send an email to Alex</a>. If you are submitting a bug report, be sure to include information about your operating system and what version of Cargo you have.</p>

<p>S. Cargo is released under the brand of <em>Smidgin</em>.</p>

<div class="logo">
  <img src="/theme/images/smidgin_logo.png" alt="Smidgin logo" title="Smidgin"/>
</div>

<!--
<h2>Blog</h2>
<dl>
{% for article in articles_page.object_list %}
<dt><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a> ({{ article.locale_date }})</dt>
<dd>
{{ article.summary }}
</dd>
{% endfor %}
</dl>
-->
</div><!-- end span6 -->

<div class="span6" id="home-screenshots">

<iframe id="ytplayer" type="text/html" width="400" height="300" src="http://www.youtube.com/embed/rw0oFdRlW2o" frameborder="0" ></iframe>

<a href="/theme/images/Cargo-bigleaf.png"><img src="/theme/images/Cargo-bigleaf.png" class="img-rounded" alt="" width="400" height="240" /></a>
<a href="/theme/images/Cargo-clover.png"><img src="/theme/images/Cargo-clover.png" class="img-rounded" alt="" width="400" height="240" /></a>
<a href="/theme/images/Cargo-firefly.png"><img src="/theme/images/Cargo-firefly.png" class="img-rounded" alt="" width="400" height="240" /></a>
<a href="/theme/images/Cargo-lighthouse.png"><img src="/theme/images/Cargo-lighthouse.png" class="img-rounded" alt="" width="400" height="240" /></a>
<a href="/theme/images/Cargo-menu.png"><img src="/theme/images/Cargo-menu.png" class="img-rounded" alt="" width="400" height="240" /></a>
<a href="/theme/images/Cargo-saucebar.png"><img src="/theme/images/Cargo-saucebar.png" class="img-rounded" alt="" width="400" height="240" /></a>
<a href="/theme/images/Cargo-spider1.png"><img src="/theme/images/Cargo-spider1.png" class="img-rounded" alt="" width="400" height="240" /></a>
</div><!-- end span6 -->
</div><!-- end row -->
{% endblock content %}
