@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("http://fonts.googleapis.com/css?family=Gochi+Hand");

body {
  color: #333;
  font-family: Source Sans Pro, sans-serif;
}

h1 {
  font-family: Gochi Hand, sans-serif;
  font-weight: normal;
}


/* Layout */
body > header {
  background: #bbb;
  padding: 1em 2.5em;
  border-bottom: 1px solid #999;
  margin-bottom: 2.5em;
}

body > header h1 a {
  color: #333;
  text-decoration: none;
}

body > footer {
  padding: 1em 2.5em;
  border-top: 1px dotted #999;
  margin-top: 2.5em;
}

body > footer nav ul {
  list-style: none;
}

/* Home page */
#feature {
  color: black;
  text-shadow: rgba(255, 255, 255, 1.0) 1px 1px 4px;
  background: url('../images/Lighthouse_ept_blur.png') bottom right no-repeat;
}

.hero-unit {
  overflow: auto;
  padding: 2em 3em;
}

.hero-unit .btn {
  font-size: 1.2em;
  line-height: 1.4;
}
